.header {
  margin-bottom: 16px;
  font-size: 2rem;
  text-align: left;
}

.main {
  background-color: #F0F4FF;
  padding-left: 24px;
  padding-right: 24px;
  height: 100vh;
}

$bg-img: url("../assets/bg.png");

.bgLogIn {
  background-image: $bg-img;
  background-repeat: no-repeat;
  height: 100vh;
  border-bottom-left-radius: 200px;
  background-position: center;
}

.tab {
  color: #4318FF;
  border-radius: 20px;
  padding: 8px;
  outline: none;
}

.tab:hover {
  background-color: #ddd7fc;
  cursor: pointer;
}

.tabActive {
  background-color: white;
}