.header {
  margin-bottom: 16px;
  font-size: 2rem;
  text-align: left;
}

.main {
  background-color: #F0F4FF;
  padding-left: 24px;
  padding-right: 24px;
  min-height: 100vh;
}

$bg-img: url("../assets/bg.png");

.bgLogIn {
  background-image: $bg-img;
  background-repeat: no-repeat;
  height: 100vh;
  border-bottom-left-radius: 200px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab {
  color: #4318FF;
  border-radius: 20px;
  padding: 8px;
  outline: none;
}

.tab:hover {
  background-color: #ddd7fc;
  cursor: pointer;
}

.tabActive {
  background-color: white;
}

$bg-user: url("../assets/bg_user.png");
$bg-dataset: url("../assets/default_dataset.png");
$avatar: url("../assets/avatar.png");
$width-avt: 80px;
.bgUser {
  padding: 8px;
  height: 90px;
  border-radius: 18px;
  margin-bottom: 16px;
  background-image: $bg-user;
  position: relative;
  background-size: cover;


  .bgAvatar {
    border-radius: calc(0.5 * $width-avt);
    position: absolute;
    height: $width-avt;
    width: $width-avt;
    background-color: white;
    bottom: calc(-0.5 * $width-avt);
    left: calc(50% - 0.5*$width-avt);

    .img {
      border-radius: 35px;
      position: relative;
      height: 70px;
      width: 70px;
      background-image: $avatar;
      background-size: cover;
      left: 6%;
      top: 6%;
    }
  }
}

.userProfile {
  border-radius: 20px;
  margin-bottom: 16px;
  padding: 8px;
}

.datasetsTable {
  padding-right: 16px;
}

.uploadContainer {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: white;
  padding: 80px;
  margin-bottom: 8px;
  border-radius: 34px;
  height: 600px;
}

.form {
  width: 40%;
}

.topDataset {
  border-radius: 20px;
  padding: 36px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: white;

  .header {
    height: 40px;
    font-size: 1.5rem;
    text-align: left;
  }

}

.rankDetail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 8px 8px;
  padding: 24px 24px;
  gap: 8px;
  .tag {
    width: 60px;
  }

  .imgDataset {
    width: 50px;
    height: 50px;
    background-image: $bg-dataset;
    background-size: cover;
    border-radius: 20px;
  }
}

.champion {
  // border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 20px 25px 3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.cloudIcon {
  font-size: 50px;
  color: #4318FF;
  background-color: #F4F7FE;
  padding: 35px;
  border-radius: 9999px;
}

.icon {
  font-size: 20px;
}