flask
gunicorn
flask-jwt-extended
flask_sqlalchemy
psycopg2-binary
python-dotenv
flask_cors
numpy
pandas
mlxtend
bcrypt
redis
rq
Flask-SocketIO
gevent-websocket
gevent
git+https://github.com/ansrivas/pylogging.git